<section class="search">
  <div>
    <form action="/artists" method="get">
    <input type="text" name="search"placeholder="Search for an Artist!">
    </form>
    <button class="btn-search">Search for an Artist</button>
  </div>
</section>